# dependencies
node_modules/

# next
.next/
out/

# env
.env
.env.local

# system
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editors
.vscode/

# OS / cloud
OneDrive/
Desktop/
